# backend
Django==4.0.7
djangorestframework==3.13.1
django-environ==0.9.0
drf-yasg==1.21.4
boto3==1.26.46
gunicorn==20.1.0
django-cors-headers==3.13.0

#mysqldb
pymysql==1.0.2
mysqlclient
cryptography


#ai
requests==2.28.1
PyAMQP
django_celery_beat
django_celery_results
celery
redis

numpy>=1.18.5

#monitoring
django-prometheus==2.2.0
